# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environment
# =========================
venv/
.venv/
env/

# =========================
# Flask
# =========================
instance/
*.db
*.sqlite
*.sqlite3

# =========================
# Environment
# =========================
.env
.env.*

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Pytest
# =========================
.pytest_cache/

# =========================
# Coverage
# =========================
.coverage
htmlcov/

# =========================
# macOS
# =========================
.DS_Store

# =========================
# Windows
# =========================
Thumbs.db