{% extends "base.html" %}

{% block content %}

<h1>My Leagues</h1>

<p>
    <a href="{{ url_for('league.create_league_view') }}">
        Create League
    </a>
    |
    <a href="{{ url_for('league.join_league_view') }}">
        Join League
    </a>
</p>

{% for season_id, leagues in grouped_leagues.items() %}

    {% set season = leagues[0].season %}

    <hr>

    <h2>
        {{ season.sport }}
        {{ season.year }}
    </h2>

    <ul>

        {% for item in leagues %}

            <li>

                <a href="{{ url_for(
                    'league.league_home',
                    public_id=item.league.public_id
                ) }}">

                    {{ item.league.name }}

                </a>

            </li>

        {% endfor %}

    </ul>

{% else %}

    <p>No leagues found.</p>

{% endfor %}

{% endblock %}